body{
    background-color: #dfdfe6;
    font-family: "Comic Sans Ms";
    margin: 10px;
    padding: 10px;
}

#div-botones{
    background-color: #1717a7;
    height: 50px;
}

#formulario_reg{
    background-color: white;
    position: relative;
    left: 40%;
    top: 10%;
    width: 300px;
    height: 320px;
    display:none;
    position: relative;
    top: 50%;
    left: 38%;
}

input, textarea{
    width: 280px;
    height: 30px;
    background-color: white;
    outline: none;
    color: black;
    border-bottom: 1px solid white;
    border-top: #202020;
    border-right: #202020;
    border-left: #202020;
    position: relative;
    left: 1%;
    right: 50%;
    top: 10%;
    font-family: "Comic Sans Ms";
}

button{
    position: relative;
    right: -2%;
    top: 10%;
}

#iniciar{
    position: relative;
    right: -90%;
    top: 20%;
    width: 100px;
    height: 32px;
    font-family: "Comic Sans Ms";
    color: white;
    background-color: darkred;
    border: 1px solid rgb(146, 7, 7);
    border-radius: 10%;
}

#registrar{
    background-color: rgb(6, 104, 11);
    height: 32px;
    font-family: "Comic Sans Ms";
    color: white;
    border: 0.5px solid green;
    border-radius: 10%;
    position: relative;
    right: -75%;
    top: 20%;
}

.botones{
    background-color: green;
    width: 280px;
    height: 35px;
    border: none;
    color: white;
    border-radius: 3%;
}

form{
    width: 300px;
    height: 200px;
    border-radius: 10%;
    position: relative;
    left: 30%;
    display: none;
    bottom: 50%;
}

#sesion{
    height: 180px;
    position: relative;
    left: 45%;
    border-radius: 10%;
    background-color: white;
    position: relative;
    top: 15%;
    display: none;
}

#formulario_sesion{
    background-color: white;
    height: 200px;
    position: relative;
    left: 38%;
}

#formulario_sesion:active{
    visibility: visible;
}*/

#barra_lateral{
    width: 15%;
    height: 490px;
    background-color: #1717a7;
    color: white;
    text-align: center;
}

#barra_lateral ul li{
    list-style: none;
    width: 15%;
    height: 50px;
    border-bottom: 2px solid white;
}

#user{
    width: 130px;
    height: 130px;
    border: 1px solid white;
    border-radius: 50%;
}

h1{
    color: black;
    text-align: center;
}
p{
    font-size: 40px;
    text-align: center;
}